body{
    background-color: rgb(7, 11, 238);
    color: rgb(255, 30, 0);
    section {
        background: rgb(135, 206, 250);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        }
}
header {
    padding-bottom: 3%;
    padding-top: 3%;
}

.Classe_texto {
    margin-right: 5%;  
}
.vídeo{
    margin-right: 5%;  
}
